/* For everything else */
.rounding {
    border-radius: 11px
}

.flexbox {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    width: 29.9rem;
    height: 12.75rem
}

/* For categories */
.category-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 0 !important;

    > select {
        height: 4rem;
        width: 12.8rem;
        transition: background-color 0.356s ease;
    }
}

/* For buttons */
.button-box {
    display: flex;
    border-radius: 11px;
    width: 15rem;
    height: 4rem;
    align-items: center;
    flex-direction: row;
    background-size: 12px;
    position: relative;
    place-content: center;
    margin: 2rem auto
}

.huge-text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    font-weight: bold;
    left: -2.5rem;
    padding: 3rem;
    bottom: -2.35rem !important
}

.buttons {
    display: flex;
    justify-content: center;
    line-height: 0;
    margin-top: 1rem
}

.buttons > button {
    position: relative;
    bottom: 0.5rem;
    left: 1.8rem;
    margin: auto 0.25rem;
    width: 5rem;
    height: 3rem;
    font-size: 2rem;
    border-radius: 11px;
    padding: 1rem 1.3rem 1.5rem;
    transition: background-color 0.356s ease
}

.submit-button {
    width: 100%;
    border-width: 2px;
    border-color: #2d5a2b;
    background-color: #45a049;
    font-weight: 700;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
    transition: background-color 0.356s ease
}

.submit-button:hover {
    background-color: #52b555
}

.disallowed {
    width: 100%;
    border-width: 2px;
    border-color: #6b7280;
    background-color: #9ca3af;
    font-weight: 700;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
    transition: background-color 0.356s ease;
    cursor: not-allowed
}
