.rounding {
    border-radius: 11px
}

/* .flexbox {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
} */

.flexbox-list {
    position: relative;
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-shrink: 50; */
    flex-direction: column;
    margin: 1rem auto;
    padding: 1rem;
    justify-content: space-between;
    width: 35%;
    height: auto;
    @apply border-2 border-blue-900 bg-slate-900
}

.flex-buttons {
    @apply bg-slate-800 border-2 border-slate-600 p-4 mb-2 transition-colors
}

.flex-buttons:hover {
    @apply bg-slate-700 border-slate-400 ring-2 ring-blue-800
}

.flex-buttons-active {
    @apply bg-slate-600 border-slate-500 ring-2 ring-blue-500
}

.quantity {
    line-height: 0 !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    @apply text-gray-600
}
