main > h2 {
    font-style: italic;
    font-weight: 700;
    font-size: 2.57rem;
    line-height: 3rem;
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    margin-bottom: 1rem;
    text-align: center
}

.flex-buttons {
    position: relative;
    flex: 1rem auto 100;
    border-width: 2px;
    width: 11rem;
    transition: all 0.3s ease;
    @apply bg-slate-800 border-slate-600 p-4 mb-2 transition-colors
}

.flex-buttons:hover {
    @apply bg-slate-700 border-slate-400 ring-2 ring-blue-800
}

.flex-buttons-active {
    @apply bg-slate-600 border-slate-500 ring-2 ring-blue-500
}

.quantity {
    line-height: 2rem;
    font-size: 1rem !important;
    font-weight: 400 !important;
    @apply text-gray-600
}

/* .category-active {
    transform: translateY(0);
    opacity: 1
} */

.button-container {
    gap: 0rem 2rem
}


