@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed
  }
}

[href]:hover {
  text-decoration: underline;
  color: #06b6d4
}

.vertical-line {
  position: fixed;
  left: 50vw;
  top: 5vh; /* Adjust as needed */
  bottom: 5vh; /* Adjust as needed */
  width: 1px;
  background-color: #bbb7ff;
  transform: translateX(-50%) /* Center the line horizontally */
}

h1 {
  font-size: 3.57rem;
  font-weight: bold
}

h2 {
  font-size: 2.57rem;
  font-weight: bold
}

body {
  color: var(--foreground);
  background: var(--background)
}

p {
  font-size: .8rem
}

.flexbox {
  display: flex;
  position: relative;
  background-color: gray;
  justify-content: center;
  align-content: center;
  padding: 5vh 23vw;
  margin-left: 20%
  /* TODO: FIX this flexbox class later on... */
}

@layer utilities {
  .text-balance {
    text-wrap: balance
  }
}
