@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed
  }
}

[href]:hover {
  text-decoration: underline;
  color: #06b6d4
}

.vertical-line {
  position: fixed;
  left: 50vw;
  top: 5vh; /* Adjust as needed */
  bottom: 5vh; /* Adjust as needed */
  width: 1px;
  background-color: #bbb7ff;
  transform: translateX(-50%) /* Center the line horizontally */
}



.flex-container{
  display: flex;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  height: 29vh;
  border: 1px solid #c3c3cc;
  border-radius: 10px;
  left: 16%;
  width: 30%;

  > .item {
    text-align: left; /* Aligns the text within the item to the left */
    /* Other styling for the item */
    padding: 20px;
    background-color: #373737;
    margin: auto 1vw;
    border: #a5c2ff solid 2px;
    border-radius: 10px
  }
}

.left-header {
  position: fixed;
  top: 9vh;
  left: 3.4vw;
  width: 50%;
  padding: 10px
}

.right-header {
  position: fixed;
  top: 9vh;
  right: 3.4vw;
  width: 50%;
  padding: 10px
}

h1 {
  font-size: 3.57rem;
  font-weight: bold
}

h2 {
  font-size: 2.57rem;
  font-weight: bold
}

body {
  color: var(--foreground);
  background: var(--background)
}

p {
  font-size: .8rem
}

@layer utilities {
  .text-balance {
    text-wrap: balance
  }
}
