@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */

/* .inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
} */

:root {
  --background: #ffffff;
  --foreground: #171717
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed
  }
}

[href]:hover {
  text-decoration: underline;
  color: #06b6d4;
}

h1 {
  font-size: 3.57rem;
  font-weight: bold
}

h2 {
  font-size: 2.57rem;
  font-weight: bold
}

body {
  color: var(--foreground);
  background: var(--background);
}

p {
  font-size: .8rem
}

@layer utilities {
  .text-balance {
    text-wrap: balance
  }
}
